
# git
.gitignore
!/.gitignore

# eclipse
.settings/
.classpath
.factorypath
.project

# vscode
.vscode/

bin/
build/
target/
/ng-tools/site-pumper/*.css

# npm
/pages/**/node_modules/
/pages/**/package-lock.json
